{% extends "base_connected.html" %}
{% load static %}
{% load extra_filter %}
{% block content %}


<div class="container">
	{% if collection_exist %}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Warning!</strong> Invalid collection name.
		</div>
	{% endif %}

	{% if collection_created %}
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Collection <strong>created</strong> with success.
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-2">
			<div id="list-category" class="list-group">
				{% if one_collection %}
					<a href="/authentification/collection" class="list-group-item">all collections</a>
				{% else %}
					<a href="/authentification/collection" class="list-group-item category_active">all collections</a>
				{% endif %}

				{% for collection in collections %}
						<a id="category{{collection.id}}" 
					       href="/authentification/collection/{{collection.id}}" 
					       class="list-group-item">
					       {{collection.titre}}
					       <span class="glyphicon glyphicon-remove delete_collection" style="cursor: pointer;"
					             onclick="window.location='/authentification/collection/delete/{{collection.id}}';return false"></span>
					       <span class="glyphicon glyphicon-cog edit_collection" style="cursor: pointer;"
					             onclick="window.location='/authentification/collection/edit/{{collection.id}}';return false"></span>
					    </a>

				{% endfor %}
			</div>
			</br>
			<form method="post" action="/authentification/collection">
				{% csrf_token %}
				<table>
					<input type="text" name="category_name" placeholder="collection name..." class="input_submit_collection">
					<button type="submit" class="btn btn_submit_collection">Create collection</button>
				</table>
			</form>
		</div>
		<div class="col-md-10 col-centered">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class = "row">
						{% for document in documents %}
							{% with "/static/data/"|add:document.titre|add:".png" as chemin_miniature %}
							<div id="document_{{document.id}}" class="col-sm-6 col-md-3 col_thumbnail">
								<div class="thumbnail">
									{% if user.groups.all.0.name == 'correcteur' %}
									<a href="/authentification/document/{{document.id}}">
										{% if document.type_fichier == "video" %}
											{% if chemin_miniature|image_exist %}
											<img src = "{{chemin_miniature}}" width="160" height="160">
											{% else %}
											<img src = "http://X.X.X.X:81/static/img/video_file.png" width="100" height="100">
											{% endif %}
										{% else %}
											{% if chemin_miniature|image_exist %}
											<img src = "{{chemin_miniature}}" width="160" height="160">
											{% else %}
											<img src = "http://X.X.X.X:81/static/img/audio_file.png" width="100" height="100">
											{% endif %}
										{% endif %}
									</a>
									{% else %}
									<a href="/authentification/document/validateurView/{{document.id}}">
										{% if document.type_fichier == "video" %}
											{% if chemin_miniature|image_exist %}
											<img src = "{{chemin_miniature}}" width="160" height="160">
											{% else %}
											<img src = "http://X.X.X.X:81/static/img/video_file.png" width="100" height="100">
											{% endif %}
										{% else %}
											{% if chemin_miniature|image_exist %}
											<img src = "{{chemin_miniature}}" width="160" height="160">
											{% else %}
											<img src = "http://X.X.X.X:81/static/img/audio_file.png" width="100" height="100">
											{% endif %}
										{% endif %}
									</a>
									{% endif %}
									</br>
									<div class="thumbnail_title">
										{{document.titre}}
										<span 
										  class="glyphicon glyphicon-option-horizontal edit_collection" 
										  style="cursor: pointer;"
					             		  onclick="window.location='/authentification/document/edit/{{document.id}}';return false">
					             		</span>
									</div>
								</div>
							</div>
							{% endwith %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var url = window.location.pathname;
	var id = url.substring(url.lastIndexOf('/') + 1);

	if (id != "collection"){
		$("#category"+id).addClass("category_active");
	}


	$("span.glyphicon-remove").hide();
	$("span.glyphicon-cog").hide();

	$("a.list-group-item").hover(function() {
		$(this).find("span").show();
	},function(){
		$(this).find("span").hide();
	});

</script>
{% endblock %}







