{% extends "base_connected.html" %}
{% block content %}

</br>
</br>
</br>
</br>


<div class="container">
	<div class="row">
		<div class="col-lg-5" style="float: none; display: block; margin: 0 auto;">	
				<form method="post" action="./{{collection.id}}">
				<div class="panel panel-default">
					<table class="table">
					    {% csrf_token %}
					    <tr>
			    			<td>Titre :</td>
			    			<td><input name="titre" type="text" value="{{collection.titre}}"/></td>
			    		</tr>
					    <tr>
			    			<td></td>
			    			<td><input type="submit" value="Enregistrer" /></td>
			    		</tr>
			    	</table>
			    </div>
			</form>

		</div>
	</div>
</div>
{% endblock %}
