{% extends "base_connected.html" %}
{% block content %}

</br>
</br>
</br>
</br>


<div class="container">
	<div class="row">
		<div class="col-lg-5" style="float: none; display: block; margin: 0 auto;">	

			{% if invalid_file_name %}
				<p><strong>Un autre document possède déjà le même nom</strong></p>
			{% endif %}

			<form method="post" action="./{{document.id}}">
				<div class="panel panel-default">
					<table class="table">
				    	{% csrf_token %}
				    	{{ form.as_table }}
				    	<tr>
			    			<td></td>
			    			<td><input type="submit" value="Enregistrer" /></td>
			    		</tr>
			    	</table>
				</div>
			</form>

			</br>
			<button type="button" 
				class="btn btn-danger"
				style="float: right;" 
				onclick="alertUser();">DELETE</button>
				<!-- window.location='/authentification/document/test'; -->
			</br>

		</div>
	</div>
</div>
<script type="text/javascript">
	
	function alertUser(){
		var test = confirm("Voulez-vous supprimer ce document?");
		if (test == true) {
		    window.location = '/authentification/document/delete/{{document.id}}';
		}
	}
</script>
{% endblock %}






